@import '../../shared/mixins';

.select {
  &-container {
    width: 70rem;
    margin: 0 auto;
  }
  &-title {
    @include title;
  }
  &-fighters {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}
